
<section class="container section about">
    <div class="about__img-position">
        <ul class="about__img">
            <li class="list about__img-pic">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="./images/about-first-desktop.webp 1x, ./images/about-first-desktop@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1200px)"
                        srcset="./images/about-first-desktop.jpg 1x, ./images/about-first-desktop@2x.jpg 2x">
        
                    <source media="(min-width: 768px)"
                        srcset="./images/about-first-tablet.webp 1x, ./images/about-first-tablet@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/about-first-tablet.jpg 1x, ./images/about-first-tablet@2x.jpg 2x">
        
                    <img src="#" alt="Мастер бреет бороду">
                </picture>
            </li>
            <li class="list about__img-pic">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="./images/about-second-desktop.webp 1x, ./images/about-second-desktop@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1200px)"
                        srcset="./images/about-second-desktop.jpg 1x, ./images/about-second-desktop@2x.jpg 2x">
        
                    <source media="(min-width: 768px)"
                        srcset="./images/about-second-tablet.webp 1x, ./images/about-second-tablet@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/about-second-tablet.jpg 1x, ./images/about-second-tablet@2x.jpg 2x">
        
                    <img src="#" alt="Мастер бреет бороду">
                </picture>
            </li>
        </ul>
    </div>
    <div class="about__text-position">
        <h2 class="line title about__title">o нас</h2>
        <p class="about__subtitle">Лучший Барбершоп твоего города</p>
        <p class="about__subtitle-2">Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.</p>
        <p class="about__text">Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты
            попадешь в руки нашего
            мастера,
            то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной волне". Поэтому, мы
            всегда готовы
            усовершенствовать каждого, кто к нам приходит!</p>
        <button class="button" type="button">онлайн-запись</button>
    </div>
</section>
