<section class="hero">
    <div class="section">
        <ul class="hero__list">
            <li class="hero__item">
                <a class="hero__link" href="#">Instagram</a>
            </li>
            <li class="hero__item">
                <a class="hero__link" href="#">Youtube</a>
            </li>
        </ul>
        <div class="hero-content">
            <p class="hero__subtitle">A hair salon for men in Kyiv</p>
            <h1 class="hero__title">BarberShop</h1>
            <p class="hero__text">Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со вкусом.</p>
        </div>
    </div>
</section>