<article class="example">
    <section class="price">
        <p>Проведи время в компании лучших мастеров</p>
        <h2 class="">Услуги и цены</h2>
        <ul class=""> 
          <li class="">
            Мужская стрижка от 300 грн.
          </li>
          <li class="">
            Стрижка бороды от 200 грн. 
          </li>
          <li class="">
            Стрижка усов от 200 грн.
          </li>
          <li class="">
            Бритье опасной бритвой от 200 грн.
          </li>
       </ul>
       <ul class=""> 
          <li class="">
            Cтрижка у стажера от 50 грн.
        </li>
        <li class="">
            Стрижка под насадку от 200 грн.
        </li>
        <li class="">
            Детская стрижка (до 12 лет) от 300 грн.
        </li>
        <li class="">
            Камуфлирование седины от 200 грн.
        </li>
       </ul>
       <button type="button">онлайн-запись</button>
      </section>
  </article>
  