<section>
    <div>
        <p>для настоящих ценителей атмосферы</p>
        <h2>Наши мастера</h2>
        <ul>
            <li>
                <picture>
                    <source srcset="../images/team/team1-desk.webp 1x" srcset="../images/team/team1-desk-2x.webp 2x"
                        media="(min-width: 1200px)">
                    <source srcset="../images/team/team1-desk.jpg 1x" srcset="../images/team/team1-desk-2x.jpg 2x"
                        media="(min-width: 1200px)">
                
                    <source srcset="../images/team/team1-tab.webp 1x" srcset="../images/team/team1-tab-2x.webp 2x"
                        media="(min-width: 768px)">
                    <source srcset="../images/team/team1-tab.jpg 1x" srcset="../images/team/team1-tab-2x.jpg 2x"
                        media="(min-width: 768px)">
                
                    <source srcset="../images/team/team1-mob.webp 1x" srcset="../images/team/team1-mob-2x.webp 2x"
                        media="(min-width: 480px)">
                    <source srcset="../images/team/team1-mob.jpg 1x" srcset="../images/team/team1-mob-2x.jpg 2x"
                        media="(min-width: 480px)">
                
                    <img src="#" alt="John Smith">

                </picture>
                <h3>John Smith</h3>
                <p>Extreme Barber</p>
                <ul>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <picture>

                    <source srcset="../images/team/team2-desk.webp 1x" srcset="../images/team/team2-desk-2x.webp 2x"
                        media="(min-width: 1200px)">
                    <source srcset="../images/team/team2-desk.jpg 1x" srcset="../images/team/team2-desk-2x.jpg 2x"
                        media="(min-width: 1200px)">
                
                    <source srcset="../images/team/team2-tab.webp 1x" srcset="../images/team/team2-tab-2x.webp 2x"
                        media="(min-width: 768px)">
                    <source srcset="../images/team/team2-tab.jpg 1x" srcset="../images/team/team2-tab-2x.jpg 2x"
                        media="(min-width: 768px)">
                
                    <source srcset="../images/team/team2-mob.webp 1x" srcset="../images/team/team2-mob-2x.webp 2x"
                        media="(min-width: 480px)">
                    <source srcset="../images/team/team2-mob.jpg 1x" srcset="../images/team/team2-mob-2x.jpg 2x"
                        media="(min-width: 480px)">
                
                    <img src="#" alt="Michele Doe">

                </picture>
                <h3>Michele Doe</h3>
                <p>Extreme Barber</p>
                <ul>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <picture>

                    <source srcset="../images/team/team3-desk.webp 1x" srcset="../images/team/team3-desk-2x.webp 2x" 
                    media="(min-width: 1200px)">
                    <source srcset="../images/team/team3-desk.jpg 1x" srcset="../images/team/team3-desk-2x.jpg 2x"
                        media="(min-width: 1200px)">
                        
                    <source srcset="../images/team/team3-tab.webp 1x" srcset="../images/team/team3-tab-2x.webp 2x" 
                        media="(min-width: 768px)">
                    <source srcset="../images/team/team3-tab.jpg 1x" srcset="../images/team/team3-tab-2x.jpg 2x"
                        media="(min-width: 768px)">
                        
                    <source srcset="../images/team/team3-mob.webp 1x" srcset="../images/team/team3-mob-2x.webp 2x" 
                        media="(min-width: 480px)">
                    <source srcset="../images/team/team3-mob.jpg 1x" srcset="../images/team/team3-mob-2x.jpg 2x"
                        media="(min-width: 480px)">

                    <img src="#" alt="Alan Black">
                </picture>
                <h3>Alan Black</h3>
                <p>Extreme Barber</p>
                <ul>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg width="20" height="20">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>