.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  @media screen and (min-width: 480px) {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero1-mob.webp);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero1-mob@2x.webp);

    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero1-mob.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero1-mob@2x.jpg);

    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero2-mob.webp);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero2-mob@2x.webp);

    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero2-mob.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero2-mob@2x.jpg);

    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-mob.webp);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-mob@2x.webp);

    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-mob.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-mob@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    height: 680px;
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-tab.webp);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-tab@2x.webp);

    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-tab.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-tab@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-desk.webp);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-desk@2x.webp);

    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-desk.jpg);
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/hero3-desk@2x.jpg);
  }
}
.hero-content {
  margin-left: 31px;
}
.hero__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    font-size: 72px;
    line-height: 85px;
  }
}
